body {
    background: $azul-claro;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background: $azul;
    border-color: $azul;
    
    &:hover{
        background: $azul-escuro;
        border-color: $azul-escuro;
    }

    &:focus {
        background: $azul-escuro;
    }
}


.btn-secondary {
    background: $verde-claro;
    border-color: $verde-claro;
    
    &:hover{
        background: $verde-escuro;
        border-color: $verde-escuro;
    }

    &:focus {
        background: $verde-escuro;
    }
}
