@import 'color-palette';
@import 'common';


#acesso {
    width: 100vw; 
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    .accordion {
        position: relative;
        width: 50%;

        .accordion-body {            
            .button-login {
                margin-left: 20px;
            }
        }
    }
}

#login {
    width: 100vw; 
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    .form-login {
        background: $branco;
        padding: 20px;
        position: relative;
        min-width: 300px;
        width: 40%;

        .form-header {
            margin-bottom: 40px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-button {
            text-align: right;
        }
    }
}

#dashboard {
    background: $branco;
    min-height: 100vh;
    padding: 30px;

    .dashboard-header {
        padding: 20px 0;

        .buttons {
            .btn {
                height: 140px;
                width: 240px;
                font-size: 20px;
                font-weight: bold;

                &:last-child {
                    margin-left: 15px;
                }
            }
        }
    }

    .saldo {
        margin-left: 20px;
    }
}