body {
  background: #CAE1FF;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background: #5CACEE;
  border-color: #5CACEE;
}
.btn-primary:hover {
  background: #4F94CD;
  border-color: #4F94CD;
}
.btn-primary:focus {
  background: #4F94CD;
}

.btn-secondary {
  background: #90EE90;
  border-color: #90EE90;
}
.btn-secondary:hover {
  background: #32CD32;
  border-color: #32CD32;
}
.btn-secondary:focus {
  background: #32CD32;
}

#acesso {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
#acesso .accordion {
  position: relative;
  width: 50%;
}
#acesso .accordion .accordion-body .button-login {
  margin-left: 20px;
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
#login .form-login {
  background: #FFFFFF;
  padding: 20px;
  position: relative;
  min-width: 300px;
  width: 40%;
}
#login .form-login .form-header {
  margin-bottom: 40px;
}
#login .form-login .form-group {
  margin-bottom: 20px;
}
#login .form-login .form-button {
  text-align: right;
}

#dashboard {
  background: #FFFFFF;
  height: 100vh;
}
#dashboard .dashboard-header {
  padding: 20px 0;
}
#dashboard .dashboard-header .buttons .btn {
  height: 140px;
  width: 240px;
  font-size: 20px;
  font-weight: bold;
}
#dashboard .dashboard-header .buttons .btn:last-child {
  margin-left: 15px;
}
#dashboard .saldo {
  margin-left: 20px;
}
